./databases/Pfam/Pfam-A.hmm.h3p
./databases/Pfam/Pfam-A.hmm.h3f
./databases/Pfam/Pfam-A.hmm.h3m
./databases/Pfam/Pfam-A.hmm
./databases/PhyloDB/PhyloDB.dmnd
./databases/PhyloDB/phylodb_1.076.pep.fa.gz
./databases/PhyloDB/phylodb_1.076.annotations.txt
./databases/KEGG/profiles.tar.gz
./databases/KEGG/kofam_scan-1.3.0/tmp/tabular/tabular.txt
./databases/KEGG/kofam_scan-1.3.0/coassembly.txt
./databases/silva111/16S_SILVA132_k2db/kraken_silva/database.kraken
./databases/silva111/16S_SILVA132_k2db/kraken_silva/hash.k2d
./databases/silva111/16S_SILVA132_k2db/kraken_silva/library/silva.fna
./databases/silva111/16S_SILVA132_k2db/kraken_silva/data/SILVA_138.1_SSURef_NR99_tax_silva.fasta
./databases/silva111/16S_SILVA132_k2db/hash.k2d
./databases/silva111/16S_Silva132_20200326.tgz
./databases/silva111/LSURef_111_tax_silva.fasta
./databases/Protist_Ribosomal_reference_db_18S/pr2_version_4.14.0_SSU_mothur.8mer
./databases/Protist_Ribosomal_reference_db_18S/pr2_version_4.14.0_SSU_mothur.fasta
./databases/Protist_Ribosomal_reference_db_18S/pr2_version_4.14.0_SSU_mothur.pr2_version_4.14.0_SSU_mothur.8mer.prob
./databases/Protist_Ribosomal_reference_db_18S/pr2_version_4.14.0_SSU_taxo_long.fasta
./databases/MMETSP/.git/objects/pack/pack-48c6acf18ff0cec0d95e755c2046d32b2aecc22d.pack
./logs/failed_logs/hmmer_logs/hmmsearch1801850.log
./software/singularity/mysql-singularity-container/mysql.simg
./software/singularity/ISU-HPC-mysql-master-latest.simg
./software/mysql_files/mysql/lib/libmysqld-debug.a
./software/mysql_files/mysql/lib/libmysqld.a
./software/mysql_files/mysql-8.0.27-linux-glibc2.12-x86_64/bin/mysqld-debug
./software/mysql_files/mysql-8.0.27-linux-glibc2.12-x86_64/bin/mysqld
./software/mysql_files/mysql-8.0.27-linux-glibc2.12-x86_64/lib/libmysqlclient.a
./software/mysql_files/mysql-5.5.41-linux2.6-x86_64.tar.gz
./software/mysql_files/mariadb-10.6.5-linux-systemd-x86_64.tar.gz
./software/mysql_files/mysql-8.0.27-linux-glibc2.12-x86_64.tar.xz
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/eukaryota_transcripts/transcripts_dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/whole_community_transcripts/transcripts_Dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.out
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.ffn
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.out
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.ffn
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.out
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.ffn
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/hard_filtered_transcripts.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/soft_filtered_final_paths.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/final_contigs.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.kmidx
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_1_cl.prd
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_2_cl.prd
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_1.sscvr
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_0.sscvr
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.grp
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.sqn
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.flcvr
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.kmm
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.cvr
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_0_cl.prd
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_2.sscvr
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/before_rr.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/assembly_graph_with_scaffolds.gfa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/transcripts.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/assembly_graph.fastg
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/transcripts.paths
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/hard_filtered_final_paths.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/before_rr.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/soft_filtered_transcripts.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/assembly_graph_with_scaffolds.gfa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/transcripts.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/assembly_graph.fastg
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K47/simplified_contigs.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/transcripts.paths
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/30B8Z_S11_001_40m_mRNA.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/30B90_S12_001_70m_mRNA.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/30B91_S28_001_380m_mRNA.fasta
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.ffn
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly_1500000.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.sa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly_0.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.pac
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.amb
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.ann
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.bwt
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.out
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped_sorted.bam.bai
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted_copy.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped_sorted.bam.bai
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted.bam.bai
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped.sam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped.bam
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out_taxonomy.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out_taxonomy.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out_dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out_taxonomy.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out_taxonomy.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out_dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out_dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out_dinophyta.tsv
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/split_up_files/dino_metzyme_annotated_coassembly_0_KO.txt
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/split_up_files/dino_metzyme_annotated_coassembly_0_KO_annotated.txt
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/dino_metzyme_annotated_coassembly_KEGG_annotation_full.txt
./data/metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/dino_metzyme_annotated_coassembly_KEGG_annotation.txt
./data/metaT_trimmed_reads/fasta_files/paired/trimmed/30B90_S12_001.paired_trimmed.fasta
./data/metaT_trimmed_reads/fasta_files/paired/trimmed/30B8Z_S11_001.paired_trimmed.fasta
./data/metaT_trimmed_reads/fasta_files/paired/trimmed/30B91_S28_001.paired_trimmed.fasta
./data/assembly/3uM orfs.fasta
./.git/objects/41/6e5153805181556e2658c8d7b2f1e72ff9ca50
./.git/objects/26/bef0b8bc903ddee845745e5f80d0b6cb721c91
./.git/objects/pack/pack-f11b01c52c18c418173f2e0d7c861a31239132e6.pack
./.git/objects/pack/tmp_pack_umot1V
./.git/objects/pack/tmp_pack_Of1ozK
./.git/objects/pack/tmp_pack_8WaQtM
./.git/objects/db/46fb1017a6ed33dab7e1d06d2b4f8bead0b215
./make_gitignore.sh
