./metaT_trimmed_reads/fasta_files/paired/mRNA/eukaryota_transcripts/transcripts_dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/whole_community_transcripts/transcripts_Dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.out
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.ffn
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B91_S28_001_380m_mRNA_annotated.out
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.ffn
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B90_S12_001_70m_mRNA_annotated.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.out
./metaT_trimmed_reads/fasta_files/paired/mRNA/annotated_mRNA_files/30B8Z_S11_001_40m_mRNA_annotated.ffn
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/hard_filtered_transcripts.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/soft_filtered_final_paths.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/final_contigs.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.kmidx
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_1_cl.prd
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_2_cl.prd
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_1.sscvr
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_0.sscvr
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.grp
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.sqn
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.flcvr
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.kmm
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack.cvr
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_0_cl.prd
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/saves/00_before_repeat_resolution/graph_pack_2.sscvr
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/before_rr.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/assembly_graph_with_scaffolds.gfa
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/transcripts.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/assembly_graph.fastg
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/transcripts.paths
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K71/hard_filtered_final_paths.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/before_rr.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/soft_filtered_transcripts.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/assembly_graph_with_scaffolds.gfa
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/transcripts.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/assembly_graph.fastg
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/K47/simplified_contigs.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/metaT_coassembly/transcripts.paths
./metaT_trimmed_reads/fasta_files/paired/mRNA/30B8Z_S11_001_40m_mRNA.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/30B90_S12_001_70m_mRNA.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B8Z_S11_001_40m_mRNA_translated_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B90_S12_001_70m_mRNA_translated_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_translated_files/30B91_S28_001_380m_mRNA_translated_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/30B91_S28_001_380m_mRNA.fasta
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.ffn
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly_1500000.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.sa
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly_0.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.pac
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.amb
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.ann
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.faa.bwt
./metaT_trimmed_reads/fasta_files/paired/mRNA/dino_metzyme_annotated_coassembly/dino_metzyme_annotated_coassembly.out
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped_sorted.bam.bai
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted_copy.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped_sorted.bam.bai
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped_sorted.bam.bai
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B8Z_S11_001_40m_mRNA_mapped.sam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B90_S12_001_70m_mRNA_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/bwa_mem_nucleotide_files/30B91_S28_001_380m_mRNA_mapped.bam
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out_taxonomy.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out_taxonomy.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out_dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out_taxonomy.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out_taxonomy.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B91_S28_001_380m_mRNA_diamond_faa_out_dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/dino_metzyme_annotated_coassembly_diamond_out.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B8Z_S11_001_40m_mRNA_diamond_faa_out_dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/diamond_output/30B90_S12_001_70m_mRNA_diamond_faa_out_dinophyta.tsv
./metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/split_up_files/dino_metzyme_annotated_coassembly_0_KO.txt
./metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/split_up_files/dino_metzyme_annotated_coassembly_0_KO_annotated.txt
./metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/dino_metzyme_annotated_coassembly_KEGG_annotation_full.txt
./metaT_trimmed_reads/fasta_files/paired/mRNA/KEGG_annotation/dino_metzyme_annotated_coassembly_KEGG_annotation.txt
./metaT_trimmed_reads/fasta_files/paired/trimmed/30B90_S12_001.paired_trimmed.fasta
./metaT_trimmed_reads/fasta_files/paired/trimmed/30B8Z_S11_001.paired_trimmed.fasta
./metaT_trimmed_reads/fasta_files/paired/trimmed/30B91_S28_001.paired_trimmed.fasta
./assembly/3uM orfs.fasta
./make_gitignore.sh
